body {
    font-family: Arial, sans-serif;
    background-color: rgb(231, 240, 220);
}

h1, h2, h3 {
    color: rgb(89, 116, 69);
}

.form-check-label {
    color: rgb(101, 129, 71);
}

.btn-primary, .btn-success {
    background-color: rgb(114, 151, 98);
    border-color: rgb(114, 151, 98);
}

